@page
@model FamilyPromiseApp.Pages.Cases.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NewCase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewCase.ID" />
            <div class="form-group">
                <label asp-for="NewCase.ID" class="control-label"></label>
                <input asp-for="NewCase.ID" class="form-control" />
                <span asp-validation-for="NewCase.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewCase.LastName" class="control-label"></label>
                <input asp-for="NewCase.LastName" class="form-control" />
                <span asp-validation-for="NewCase.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewCase.FirstMidName" class="control-label"></label>
                <input asp-for="NewCase.FirstMidName" class="form-control" />
                <span asp-validation-for="NewCase.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewCase.Age" class="control-label"></label>
                <input asp-for="NewCase.Age" class="form-control" />
                <span asp-validation-for="NewCase.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewCase.DateOfBirth" class="control-label"></label>
                <input asp-for="NewCase.DateOfBirth" class="form-control" />
                <span asp-validation-for="NewCase.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewCase.CellPhone" class="control-label"></label>
                <input asp-for="NewCase.CellPhone" class="form-control" />
                <span asp-validation-for="NewCase.CellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewCase.WorkPhone" class="control-label"></label>
                <input asp-for="NewCase.WorkPhone" class="form-control" />
                <span asp-validation-for="NewCase.WorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewCase.Email" class="control-label"></label>
                <input asp-for="NewCase.Email" class="form-control" />
                <span asp-validation-for="NewCase.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
