@page
@model FamilyPromiseApp.Pages.Intakes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>IntakeModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IntakeModel.ID" />
            <div class="form-group">
                <label asp-for="IntakeModel.LastName" class="control-label"></label>
                <input asp-for="IntakeModel.LastName" class="form-control" />
                <span asp-validation-for="IntakeModel.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.Education" class="control-label"></label>
                <input asp-for="IntakeModel.Education" class="form-control" />
                <span asp-validation-for="IntakeModel.Education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.Relationships" class="control-label"></label>
                <input asp-for="IntakeModel.Relationships" class="form-control" />
                <span asp-validation-for="IntakeModel.Relationships" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.WorkStudy" class="control-label"></label>
                <input asp-for="IntakeModel.WorkStudy" class="form-control" />
                <span asp-validation-for="IntakeModel.WorkStudy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.AdultNum" class="control-label"></label>
                <input asp-for="IntakeModel.AdultNum" class="form-control" />
                <span asp-validation-for="IntakeModel.AdultNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.SSN" class="control-label"></label>
                <input asp-for="IntakeModel.SSN" class="form-control" />
                <span asp-validation-for="IntakeModel.SSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.Reason" class="control-label"></label>
                <input asp-for="IntakeModel.Reason" class="form-control" />
                <span asp-validation-for="IntakeModel.Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.Reason2" class="control-label"></label>
                <input asp-for="IntakeModel.Reason2" class="form-control" />
                <span asp-validation-for="IntakeModel.Reason2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.IDNum" class="control-label"></label>
                <input asp-for="IntakeModel.IDNum" class="form-control" />
                <span asp-validation-for="IntakeModel.IDNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.Race" class="control-label"></label>
                <input asp-for="IntakeModel.Race" class="form-control" />
                <span asp-validation-for="IntakeModel.Race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.Gender" class="control-label"></label>
                <input asp-for="IntakeModel.Gender" class="form-control" />
                <span asp-validation-for="IntakeModel.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.FirstName" class="control-label"></label>
                <input asp-for="IntakeModel.FirstName" class="form-control" />
                <span asp-validation-for="IntakeModel.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.MaritalStatus" class="control-label"></label>
                <input asp-for="IntakeModel.MaritalStatus" class="form-control" />
                <span asp-validation-for="IntakeModel.MaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.ChildSchool" class="control-label"></label>
                <input asp-for="IntakeModel.ChildSchool" class="form-control" />
                <span asp-validation-for="IntakeModel.ChildSchool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.Age" class="control-label"></label>
                <input asp-for="IntakeModel.Age" class="form-control" />
                <span asp-validation-for="IntakeModel.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.DateAdmitted" class="control-label"></label>
                <input asp-for="IntakeModel.DateAdmitted" class="form-control" />
                <span asp-validation-for="IntakeModel.DateAdmitted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.CompletionDate" class="control-label"></label>
                <input asp-for="IntakeModel.CompletionDate" class="form-control" />
                <span asp-validation-for="IntakeModel.CompletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.DOB" class="control-label"></label>
                <input asp-for="IntakeModel.DOB" class="form-control" />
                <span asp-validation-for="IntakeModel.DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.CellPhoneNum" class="control-label"></label>
                <input asp-for="IntakeModel.CellPhoneNum" class="form-control" />
                <span asp-validation-for="IntakeModel.CellPhoneNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.WorkPhoneNum" class="control-label"></label>
                <input asp-for="IntakeModel.WorkPhoneNum" class="form-control" />
                <span asp-validation-for="IntakeModel.WorkPhoneNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.EmailAdd" class="control-label"></label>
                <input asp-for="IntakeModel.EmailAdd" class="form-control" />
                <span asp-validation-for="IntakeModel.EmailAdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.HomeAddress" class="control-label"></label>
                <input asp-for="IntakeModel.HomeAddress" class="form-control" />
                <span asp-validation-for="IntakeModel.HomeAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.HouseHoldMemberExists" class="control-label"></label>
                <input asp-for="IntakeModel.HouseHoldMemberExists" class="form-control" />
                <span asp-validation-for="IntakeModel.HouseHoldMemberExists" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.AdultName" class="control-label"></label>
                <input asp-for="IntakeModel.AdultName" class="form-control" />
                <span asp-validation-for="IntakeModel.AdultName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.AdultAge" class="control-label"></label>
                <input asp-for="IntakeModel.AdultAge" class="form-control" />
                <span asp-validation-for="IntakeModel.AdultAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.AdultDateOfBirth" class="control-label"></label>
                <input asp-for="IntakeModel.AdultDateOfBirth" class="form-control" />
                <span asp-validation-for="IntakeModel.AdultDateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.AdultCellPhone" class="control-label"></label>
                <input asp-for="IntakeModel.AdultCellPhone" class="form-control" />
                <span asp-validation-for="IntakeModel.AdultCellPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.AdultWorkPhone" class="control-label"></label>
                <input asp-for="IntakeModel.AdultWorkPhone" class="form-control" />
                <span asp-validation-for="IntakeModel.AdultWorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.AdultEmail" class="control-label"></label>
                <input asp-for="IntakeModel.AdultEmail" class="form-control" />
                <span asp-validation-for="IntakeModel.AdultEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.HouseHoldChildrenExists" class="control-label"></label>
                <input asp-for="IntakeModel.HouseHoldChildrenExists" class="form-control" />
                <span asp-validation-for="IntakeModel.HouseHoldChildrenExists" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.RecentHousing" class="control-label"></label>
                <input asp-for="IntakeModel.RecentHousing" class="form-control" />
                <span asp-validation-for="IntakeModel.RecentHousing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.HouseType" class="control-label"></label>
                <input asp-for="IntakeModel.HouseType" class="form-control" />
                <span asp-validation-for="IntakeModel.HouseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.ChildNum" class="control-label"></label>
                <input asp-for="IntakeModel.ChildNum" class="form-control" />
                <span asp-validation-for="IntakeModel.ChildNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.ChildName" class="control-label"></label>
                <input asp-for="IntakeModel.ChildName" class="form-control" />
                <span asp-validation-for="IntakeModel.ChildName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.ChildDateOfBirth" class="control-label"></label>
                <input asp-for="IntakeModel.ChildDateOfBirth" class="form-control" />
                <span asp-validation-for="IntakeModel.ChildDateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntakeModel.ChildAge" class="control-label"></label>
                <input asp-for="IntakeModel.ChildAge" class="form-control" />
                <span asp-validation-for="IntakeModel.ChildAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
