@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <p>You are viewing the Family Promise Diversion Program Home Page</p>
</div>

<div class="row mb-auto">
    <div class="col-md-12">
        <div class="row no-gutters border mb-6">
            <div class="col p-6 mb-6 ">
                    <ul>
                        <li><a asp-area="" asp-page="/Persons/Create">Initial Contact Form</a> - For people not in the system</li>
                        <li><a
                         asp-area="" asp-page="/Intakes/Create">Intake Process Form</a> - For anyone coming to the center</li>
                        <li>                            <a asp-page="/Persons/Index">Clients</a>
 - Info about users of PFP</li>
                        <li>                            <a asp-page="/Referrals/Index">Referrals</a>
 - Info on partner organizations</li>
                        <li><a asp-page="/Resources/Index">Resources</a> - This page is currently empty</li>
                        <li>Issues logging in? Contact us at <a href="mailto:souvorinkg@hendrix.edu">Disco Tray Studios</a>
        </ul>


            </div>
        </div>
    </div>
    @* <div class="col-md-6">
        <div class="row no-gutters border mb-6">
            <div class="col p-6 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Family Promise of Pulaski County Diversion Program Home page.

                </p>
            </div>
        </div>
    </div> *@
</div>