@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>I believe there should be a log in screen here? If yes, we will get that take care of!</p>
</div>

<div class="row mb-auto">
    <div class="col-md-6">
        <div class="row no-gutters border mb-6">
            <div class="col p-6 mb-6 ">
                <p class="card-text">
                    Populate this section if necessary!
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border mb-6">
            <div class="col p-6 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Family Promise of Pulaski County Diversion Program Home page.

                </p>
            </div>
        </div>
    </div>
</div>