@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <p>You are viewing the Family Promise Diversion Program Home Page</p>
</div>

<div class="row mb-auto">
    <div class="col-md-12">
        <div class="row no-gutters border mb-6">
            <div class="col p-6 mb-6 ">
                <p class="card-text">
    Family Promise of Pulaski County is a Non-Profit Organization helping people experiencing homelessness and lacking access to basic needs.
    Initial Contact Form
    Intake Process Form
    Clients
    Referrals
    Resources
    Issues logging in? Contact us at <a href="mailto:souvorinkg@hendrix.edu">Disco Tray Studios</a>
</p>

            </div>
        </div>
    </div>
    @* <div class="col-md-6">
        <div class="row no-gutters border mb-6">
            <div class="col p-6 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Family Promise of Pulaski County Diversion Program Home page.

                </p>
            </div>
        </div>
    </div> *@
</div>