@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>I believe there should be a log in screen here? If yes, we will get that take care of!</p>
</div>
