@page
@model PrivacyModel
@{
    ViewData["Title"] = "Current Cases";
}
@* <h1>@ViewData["Title"]</h1> *@

<p>Populate this Page with what needs to be here. It's Currectly linked to Privacy, which needs to be changed once every related Page is created!!</p>